<h1>Appointment</h1>
    <li>Date: <%= @appointment.appointment_datetime.strftime('%B %d, %Y') %>
    <li>Time: <%= @appointment.appointment_datetime.strftime('%T') %>
    <li>Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %>
    <li>Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>
